/* Reset and Base */
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kalpurush', Arial, sans-serif;
    font-size: 1.05em;
}

body {
    padding: 5px;
    line-height: 1.7;
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    background: url('https://as1.ftcdn.net/jpg/06/86/04/24/1000_F_686042483_VZwkSaSfHCHCkO0cmX8Ggpr8e3S823za.webp') no-repeat center center fixed;
    background-size: cover;
    flex-direction: column;
    width:800px;
}

#topbar {
    width:800px;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.menu-row {
  display: flex;
  flex-wrap: wrap; 
  gap: 10px;
  justify-content: center;
    width:800px;
    
}


.menu-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.4);
  padding: 15px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 600;
  color: #000;
  cursor: pointer;
  transition: 0.3s;
  border: none;
    width:130px;
}

.menu-button:hover {
  background: rgba(200, 200, 255, 0.5);
}

.menu-button .icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: rgba(0, 132, 255, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 16px;
  box-shadow: 0 0 8px rgba(0, 132, 255, 0.8);
    column-gap: 10px;
}

.menu-button.active {
  background: rgba(255, 0, 0, 0.6);
  color: white;
}

.menu-button.active .icon {
  background: rgba(0, 255, 150, 0.9);
  box-shadow: 0 0 15px rgba(0, 255, 150, 0.8);
}

.titel {
  border: 2px solid rgba(0, 123, 255, 0.5);
  background: rgba(0, 0, 255, 0.1);
  color: white; /* লেখার রঙ সাদা */
  text-align: center; /* লেখাকে মাঝখানে আনো */
  padding: 10px 20px; /* ভিতরের ফাঁকা জায়গা */
  border-radius: 10px; /* কোণ গুলো গোল করা */
  margin: 20px auto; /* মাঝখানে আনো এবং কিছু ফাঁকা জায়গা রাখো */
  font-size: 24px; /* লেখার আকার */
  font-weight: bold;
    width:800px;
}
.summary-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 20px 0;
    flex-wrap: wrap;
    Width:800px;
}

.summary-card {
    background: rgba(255, 255, 255, 0.4);
    padding: 2rem;
    border-radius: 12px;
    width: 160px;
    box-shadow: 0 3px 12px rgba(0,0,0,0.1);
    text-align: center;
}

.summary-icon {
    width: 65px;
    height: 65px;
    margin-bottom: 20px;
}

.summary-card h3 {
    color: #007bff;
    margin-bottom: 15px;
    font-size: 1.4em;
}

.summary-card p {
    font-size: 1.7em;
    font-weight: bold;
    color: #2c3e50;
}
canvas {
  width: 380px !important;
  height: auto;
  display: block;
  margin: 0 auto; /* চার্টকে সেন্টারে আনতে */
}

.chartstyle {
  display: flex;
  gap: 20px;          /* দুই চার্টের মাঝে ফাঁকা জায়গা */
  align-items: center; /* উভয়ের ভেরটিকাল অবস্থান একসাথে */
  justify-content: center; 
   background-color: rgba(255, 255, 255, 0.4);
    border-radius: 20px;
    width:800px;
    height: 380px;
}
